language: java
jdk:
- oraclejdk7
- openjdk6
script:
- mvn clean install -Dmaven.test.skip=true
deploy:
  provider: appfog
  email: zjh459@gmail.com
  password:
    secure: VliKuSYS8SSkfqj781T7rjOxPQ466hf1tX7KlICS0EpJiTtbFoeLul7ra01KfQBNqqiwyl0zYFP2oYahdOlIiGiy7MkTL9mRtGdGh7t5Zsy1PKYuqwrHQdwVc8Y3ghE9EdYdlQ8j2hW7hACDoqAGK/cnzfOEcxW6Kt1guzYuaDM=
  app: oftest2
  on:
    repo: zjh459/git-projects
