language: java
jdk:
- oraclejdk7
- openjdk6
after_success:
  - cp target/git-projects.war
deploy:
  provider: appfog
  email: zjh459@gmail.com
  password:
    secure: RSn6ve64vjvkDREzQpc8qURze+pOqo80krNsu2Jlcj3F/IMbjBZwH6jKlFl47EDYE4byWTiOnwX2otywMedAbgtVOHfojXGnVyDqvQX3YL/BSK9UpS6BA0qAtV6YcLAItIT34wlKRcc5sPto9xdmec14hLUSUW3+DNjL8g4WRSU=
  app: oftest3
  on:
    repo: zjh459/git-projects
  skip_cleanup: true
#after_deploy:
#- cd /home/travis/build/zjh459/git-projects/target/ && af update oftest3
